In [60]:
from glob import glob
import pandas as pd
import numpy as np
import datetime as dt

path_csv = r"data/traffic/*.csv"
files = glob(path_csv)
list_df = [] 

for file in files:
    df = pd.read_csv(file, delimiter=";", encoding='latin1')
    if "Dátum" in df.keys():
        continue
    df.drop(df.tail(1).index, inplace=True)
    list_df.append(df)
    
df_concat = pd.concat(list_df, ignore_index=True)
df_concat = df_concat.rename(columns = {'Dátum a èas': 'date'})
df_concat["date"] = pd.to_datetime(df_concat["date"])
df_concat['hastrip'] = np.where(df_concat['Hradza Berg ']!= 0, 1, 0)

# Get holidays info
holidays_file = r"data/holidays/holidays.csv"
holidays = pd.read_csv(holidays_file, sep=';')
holidays['date'] = (pd.to_datetime(holidays['date'], dayfirst=True)).dt.date

df_concat['is_holiday'] = 0

for i, holiday in holidays.iterrows():
        
    df_concat.loc[df_concat['date'].dt.date == holiday['date'], 'is_holiday'] = 1

In [61]:
df_concat.head()

,date,Hradza Berg,Do Slovenska,Do Rakuska,hastrip,is_holiday
0,2019-01-01 00:00:00,1,1,0,1,1
1,2019-01-01 01:00:00,0,0,0,0,1
2,2019-01-01 02:00:00,0,0,0,0,1
3,2019-01-01 03:00:00,0,0,0,0,1
4,2019-01-01 04:00:00,0,0,0,0,1

In [62]:
holidays.head()

         date         holiday country
0  2016-01-01  New Year's Day    Both
1  2017-01-01  New Year's Day    Both
2  2018-01-01  New Year's Day    Both
3  2019-01-01  New Year's Day    Both
4  2016-01-06        Epiphany    Both